<html>
  <head>
    <title>Investors - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body background=/images/photo.jpg">
    <div class="container">
      <h1>Values from the meter</h1>
      <br>
       <table>    
        <tr>
            <th>Readings</th>
        </tr>
        <tr>
            <td>{{val1}}</td>
        </tr>
        <tr>
            <td>{{val2}}</td>
        </tr>
        <tr>
            <td>{{val3}}</td>
        </tr>
        <tr>
            <td>{{val4}}</td>
        </tr>
        <tr>
            <td>{{val5}}</td>
        </tr>
        <tr>
            <td>{{val6}}</td>
        </tr>
        <tr>
            <td>{{val7}}</td>
        </tr>
        <tr>
            <td>{{val8}}</td>
        </tr>
        <tr>
            <td>{{val9}}</td>
        </tr>
        <tr>
            <td>{{val10}}</td>
        </tr>
    </table>
      <form action="" method="post">
        <input class="btn btn-default" type="submit" value="Send the readings to tangle">
      </form>
    </div>
  </body>
</html>
