<html>
  <head>
    <title>Transaction results from IOTA TANGLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body background=/images/photo.jpg">
    <div class="container">
      <h1>Transaction result from the IOTA Tangle</h1>
      <br>
       <table>    
        <tr>
            <td>{{val1}}</td>
        </tr>
        <tr>
            <td><a href = {{val2}}> Check this link for your transaction </a></td>
        </tr>
    </table>
    </div>
  </body>
</html>
